[submodule "udp-receiver-server"]
	path = udp-receiver-server
	url = https://github.com/KizEvo/udp-receiver-server.git
[submodule "lorawan-app-client"]
	path = lorawan-app-client
	url = https://github.com/KizEvo/lorawan-app-client.git
[submodule "lorawan-sensor-device"]
	path = lorawan-sensor-device
	url = https://github.com/KizEvo/lorawan-sensor-device.git
